<form method='POST' action='/reg'>

	<label>username</label>
	<input type='text' name='username'><br>
	<label>password</label>
	<input type='password' name='password'>
	<br>
	
	<label>repeat password</label>
	<input type='password' name='repeat_password'>

	<input type='submit'>
</form>